
body{
  background-color:#ECF0FF;
}


.topnav {
  overflow: hidden;
  background-color: #FFEEA1;;
  position: relative;
  text-align:center;
  width:100%;
  border-radius:0%;
}

.topnav #myLinks {
  display:none;
}

.topnav a {
  color: #C65DDC;
  padding: 30px ;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-family:monospace;
}

.topnav a.icon {
  background-color:#FFEEA1;
  color:#C65DDC;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



.active {
  text-align:left;
  margin-left:5px;
  background-color:#FFEEA1;
  
}          
          h1{
            font-size:40px;
            text-align:center;
            font-family:monospace;
          }

#main5{
  background-color:silver;
  height:20%;
  text-align:center;
            font-family:monospace;
}

#h2{
  font-size:25px;
}

p{
font-size:20px}




@media(min-width:768px){
  
body{
  background-color:#ECF0FF;
}


.topnav {
  overflow: hidden;
  background-color: #FFEEA1;;
  position: relative;
  text-align:center;
  width:100%;
  border-radius:0%;
  
}

.topnav #myLinks {
  display:none;
}

.topnav a {
  color: #C65DDC;
  padding: 30px ;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-family:monospace;
  
  
}

.topnav a.icon {
  background-color:#FFEEA1;
  color:#C65DDC;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  display:none;
  
}



.active {
  text-align:left;
  margin-left:5px;
  background-color:#FFEEA1;
  
}          
          h1{
            font-size:40px;
            text-align:center;
            font-family:monospace;
          }

#main5{
  background-color:silver;
  height:20%;
  text-align:center;
            font-family:monospace;
}

#h2{
  font-size:25px;
}

p{
font-size:20px}
  





}
  




