body{
  background-color:#ECF0FF;
}


.topnav {
  overflow: hidden;
  background-color: #FFEEA1;
  position: relative;
  text-align:center;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #C65DDC;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  font-family:monospace;
}

.topnav a.icon {
  
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



.active {
  text-align:left;
  margin-left:5px;
  background-color:#FFEEA1;
  
}

